/* ==========le style de l'entête========= */
nav{
    background-color: #fff;
    margin-bottom: 100px;
}
nav::after{
    clear: both;
}
nav ul a {
    color: black !important;
    margin-right:15px ;
}
nav ul .active a {
    color : white !important;
    background-color: rgb(223, 157, 14) !important;
}
/* ====de l'entête===== */

/* ====debut de la partie acceuil==== */
#acceuil{
    margin-top: 150px;
}
#acceuil .acceuil1{
    border-radius: 2px;
    text-align: center;
    margin-left: 100px;
    margin-top: 20px;
    height: 300px;
    width: 400px;
    background: rgb(18, 145, 134);
background: linear-gradient(100deg, rgb(13, 125, 139) 0%, rgb(98, 182, 175) 100%);
}
.descent{
    padding-top: 50px;
    color: #fff;
    font-weight: 500;

}
 .descent a{
     background-color: rgb(212, 43, 13);
     color: #fff;
     margin-left: 5px;
     border-radius: 3px;
     font-weight: 400;
    
 }
 #acceuil img{
     position: relative;
     left: 10px;
     right: 0px;
     margin-top: 10px;
 }

/* ====fin de la partie acceuil==== */

 /*======= debut descriptive=========== */
.descriptive1{
    background: rgb(18, 145, 134);
    background: linear-gradient(100deg, rgb(13, 125, 139) 0%, rgb(98, 182, 175) 100%);
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.descriptive1 img{
    width: 40px;
    height: 40px;
}

.descriptive2{
    border: 1px solid rgb(18, 145, 134);
    border-radius: 5px;
    margin-left: 10px;
}

/*======= fin descriptive=========== */

/* ====cours======= */
.cours img{
    width: 50px;
    height: 50px;
}

.cours1{
    padding-top: 30px;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 1px solid red ;
    border-radius: 5px;
    color: red;
}
.cours2{
    padding-top: 30px;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(0, 255, 21) ;
    border-radius: 5px;
    color: rgb(0, 255, 76);
}
.cours3{
    padding-top: 30px;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(255, 217, 0) ;
    border-radius: 5px;
    color: rgb(255, 174, 0);
}
.cours4{
    padding-top: 30px;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(0, 255, 21) ;
    border-radius: 5px;
    color: rgb(0, 255, 55);
}

/* =========fin cours========= */

/* =========diplome======== */
#diplome{
    background-color: #e7008a;
    color: #fff;
}

/* =========fin diplome====== */*


/* ======debbut coach ===== */
.card{
    text-align: center;
    padding: 1rem 1rem;
    height: 200px;
    margin-left: 20px;
    border: 1px solid rgb(18, 145, 134);
}
.card img{
    width: 60px;
    height: 150px;
}

/* ======fin coach====== */

/* =====dbut activités===== */
#activite{
    
    background-color: #e7008a;
    color: #fff;
}
.activite1{
    padding-top: 80px;
    padding-bottom: 80px;
    
}
.paragraphe1{
margin-bottom: 90px;
}
.activite1 button{
    margin-top: 30px;
    background-color: #e7008a;
    border: 0px solid #e7008a;
}
.haute{
    width: 340px;
    height: 480px;
}

#activitz::after{
    clear: both;
}

/* ======fin activités====== */

/* =======debut partenaire===== */
#partenaire{
    width: 100%;
    margin-top: 30px;
    padding: 3rem;
    background-color: rgb(215, 252, 240);
}
/* ========fin partenaire====== */


/* ==========debut footer====== */
#footer{
    padding: 2rem;
    margin-top: 100px;
    background-color:rgb(18, 145, 134); 
    color: #fff;
}
#footer i{
    font-size: 25px;
}
#footer i:hover{
 color: rgb(67, 117, 224);
}
#footer .fa-twitter, .fa-linkedin{
    margin-left: 15px;
}
/* ============ fin footer======= */